heading {
   color: cornflowerblue;
   font-family: 'Times New Roman', Times, serif;
   font-size: 30px 
}
header { 
    color: deepskyblue;
    font-family: Georgia, serif
}
.bgimage {
   background-image: url("http://www.npmarathon.com/media/appledaily.jpg");
   background-position: center;
   backgound-size:cover;
   height:200px
}

button{ 
    padding:7px 14px;
    text-align:center;
    text-decoration:none;
    margin:2px 1px
}
button.btn-primary {
    border:3px double black
}
img {
    width:500px;
    height:315px
}  
}
span.bold{
    font-size:1em;
    font-weight:bold;
    font-variant: small-caps
}
button.btn-style{
    border:3px solid white;
    border-radius: 35px;
    background-color:lightgrey;
    font-color: white
}
